.game-block {
  /*
    * {
      outline: 2px dotted red
    }
    * * {
      outline: 2px dotted green
    }
    * * * {
      outline: 2px dotted orange
    }
    * * * * {
      outline: 2px dotted blue
    }
    * * * * * {
      outline: 1px solid red
    }
    * * * * * * {
      outline: 1px solid green
    }
    * * * * * * * {
      outline: 1px solid orange
    }
    * * * * * * * * {
      outline: 1px solid blue
    }*/
  word-wrap: normal;
}
.game-block button::before {
  content: "";
}
.game-block h2 {
  padding: 0;
  margin: 0;
}
.game-block h5 {
  font-family: National-Regular, Arial, Helvetica, Arial, Helvetica, sans-serif;
}
.game-block .mid-part {
  display: block;
  width: 100%;
  position: relative;
  margin-top: -75px;
}
@media only screen and (max-width: 480px) {
  .game-block .mid-part {
    padding: 1% 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.game-block .opacityBlock .box-contianer .defaultselect {
  opacity: 1 !important;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.game-block button:disabled,
.game-block button[disabled] {
  cursor: not-allowed;
}
.game-block ul {
  list-style-type: disc;
  margin-left: 16px;
}
.game-block label {
  max-width: 90%;
  vertical-align: top;
  font-weight: normal;
}
@media only screen and (max-width: 991px) {
  .game-block {
    overflow-x: scroll;
  }
}
.game-block #introPage {
  display: block;
}
.game-block #introPage .container .mid-description {
  padding: 25px 0 0px 0;
  display: inline-block;
  color: #000;
}
@media only screen and (max-width: 480px) {
  .game-block #introPage .container .mid-description {
    text-align: center;
    padding: 15px 0 0px 0;
  }
}
.game-block #introPage .container .mid-description h2 {
  font-size: 24px;
  line-height: normal;
  margin: 0;
  padding: 0 0 15px 0;
}
.game-block #introPage .container .mid-description h4 {
  font-size: 18px;
  line-height: normal;
  margin: 0;
  padding: 0 0 25px 0;
}
.game-block #introPage .container .mid-description button.cmn-btn2 {
  background-color: #a11b1f;
  color: #fff;
  border-radius: 0;
  font-size: 1em;
  line-height: normal;
  padding: 10px 15px;
  margin-top: 20px;
  text-align: left;
  font-family: "National-Medium", Helvetica, Arial, sans-serif;
}
.game-block #introPage .container .mid-description button.cmn-btn2:hover {
  color: #fff;
  background-color: #d55151;
}
.game-block #introPage .container .mid-description button.cmn-btn2:focus, .game-block #introPage .container .mid-description button.cmn-btn2:active {
  color: #fff;
}
.game-block #introPage .container .mid-description button.cmn-btn2.btn {
  border-radius: 0px;
}
.game-block #gamePage {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .game-block #gamePage > .container {
    width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .game-block #gamePage > .container div.col-md-8 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.game-block #gamePage > .container div .game-zone-outer {
  overflow-x: auto;
}
@media only screen and (max-width: 991px) {
  .game-block #gamePage > .container div .game-zone-outer.gamescroll {
    overflow-x: scroll;
    width: 913px;
  }
}
.game-block #gamePage > .container div .game-zone-outer .game-zone {
  background: #f6f6f4;
  padding: 20px 7px;
  box-sizing: border-box;
  float: left;
  width: 752px;
}
@media only screen and (min-width: 481px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone {
    width: 844px;
  }
}
@media only screen and (max-width: 1200px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone {
    border: 1px solid #ccc;
  }
}
@media only screen and (max-width: 767px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.game-block #gamePage > .container div .game-zone-outer .game-zone table {
  text-align: center;
  margin-bottom: 0px;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone table th {
  text-align: center;
  background: #e3e2df;
  color: #000;
  text-transform: uppercase;
  font-size: 17px;
  border-right: 5px solid #f6f6f4;
  padding: 0px 0;
  border-top: none;
  border-bottom: none;
  width: 225px;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone table td {
  font-size: 12px;
  text-transform: uppercase;
  color: #51524e;
  font-weight: bold;
  min-width: 50px;
  text-align: center;
  padding: 6px 0 3px 0;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer {
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  background: #eee1e1;
  border-radius: 10px;
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer {
    margin-left: 5px;
  }
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box {
  border-radius: 10px;
  padding: 0 8px;
  width: 98px;
  height: 98px;
  color: #fff;
  border: 2px solid #000;
  text-align: left;
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box {
    width: 87px;
    height: 89px;
  }
  .game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box:hover {
    z-index: 9;
    -ms-transform: scale(1.3);
        transform: scale(1.3);
  }
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box.gray {
  background: #eee1e1;
  border: none;
  -ms-transform: scale(1);
      transform: scale(1);
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box.gray span.points {
  background: none;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box.rmvBorder {
  border: none;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box.cross {
  display: block;
  margin: auto;
  width: 98px;
  height: 98px;
  position: relative;
  border: solid 1px #c8c6c4;
  background: #e3e2df;
  position: relative;
  border-radius: 10px;
  /*margin-top: 5px; margin-left: 6px; margin-bottom: 5px; */
  -ms-transform: scale(1);
      transform: scale(1);
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box.cross {
    width: 87px;
    height: 89px;
    /*
    &:hover {
      z-index: 9;
      transform: scale(1.3);
    }*/
  }
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box.cross:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -16px;
  width: 130px;
  height: 1px;
  background: #c8c6c4;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box.cross:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -16px;
  width: 130px;
  height: 1px;
  background: #c8c6c4;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}
@media only screen and (max-width: 767px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box.cross:before {
    width: 115px;
  }
  .game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box.cross:after {
    width: 115px;
  }
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box.cross span.points {
  background: none;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box label.title {
  font-weight: 600;
  font-size: 13px;
  margin: 0;
  padding: 9px 0;
  line-height: 16px;
  font-family: arial;
  word-wrap: break-word;
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box label.title {
    font-size: 11px;
    line-height: 16px;
  }
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box p.desc {
  font-size: 11px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box p.desc {
    font-size: 9px;
    line-height: 10px;
  }
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box span.points {
  margin: 0;
  padding: 3px 6px;
  font-size: 11px;
  line-height: 12px;
  background: #000;
  position: absolute;
  bottom: 3px;
  left: 8px;
  border-radius: 10px;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box .box-bottom {
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  width: 204px;
  height: 60px;
  color: #fff;
  position: relative;
  border-radius: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 8px;
  width: 204px;
  height: 60px;
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb910+1,ffb910+50,ffab0e+52,ffab0e+100 */
  background: #ffb910;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffb910 1%, #ffb910 50%, #ffab0e 52%, #ffab0e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb910", endColorstr="#ffab0e", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
@media only screen and (max-width: 991px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box .box-bottom {
    width: 250px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 380px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box .box-bottom {
    width: 184px;
    height: 60px;
  }
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box .box-bottom label.title {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  padding: 0;
  line-height: 15px;
  font-family: arial;
  text-align: left;
  text-transform: none;
  display: inherit;
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box .box-bottom label.title {
    font-size: 11px;
    line-height: 16px;
  }
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box .box-bottom p.desc {
  font-size: 11px;
  line-height: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .box .box-bottom span.star {
  position: absolute;
  right: 5px;
  top: 22px;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer .defaultselect {
  animation: fadeIn 0.3s;
  animation-fill-mode: forwards;
  opacity: 1;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+1) .defaultselect {
  opacity: 0;
  animation-delay: 0.5s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+2) .defaultselect {
  opacity: 0;
  animation-delay: 0.7s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+3) .defaultselect {
  opacity: 0;
  animation-delay: 0.9s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+4) .defaultselect {
  opacity: 0;
  animation-delay: 1.1s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+5) .defaultselect {
  opacity: 0;
  animation-delay: 1.3s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+6) .defaultselect {
  opacity: 0;
  animation-delay: 1.5s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+7) .defaultselect {
  opacity: 0;
  animation-delay: 1.7s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+8) .defaultselect {
  opacity: 0;
  animation-delay: 1.9s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+9) .defaultselect {
  opacity: 0;
  animation-delay: 2.1s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+10) .defaultselect {
  opacity: 0;
  animation-delay: 2.3s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+11) .defaultselect {
  opacity: 0;
  animation-delay: 2.5s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+12) .defaultselect {
  opacity: 0;
  animation-delay: 2.7s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+13) .defaultselect {
  opacity: 0;
  animation-delay: 2.9s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+14) .defaultselect {
  opacity: 0;
  animation-delay: 3.1s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+15) .defaultselect {
  opacity: 0;
  animation-delay: 3.3s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+16) .defaultselect {
  opacity: 0;
  animation-delay: 3.5s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+17) .defaultselect {
  opacity: 0;
  animation-delay: 3.7s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+18) .defaultselect {
  opacity: 0;
  animation-delay: 3.9s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+19) .defaultselect {
  opacity: 0;
  animation-delay: 4.1s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+20) .defaultselect {
  opacity: 0;
  animation-delay: 4.3s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+21) .defaultselect {
  opacity: 0;
  animation-delay: 4.5s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+22) .defaultselect {
  opacity: 0;
  animation-delay: 4.7s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+23) .defaultselect {
  opacity: 0;
  animation-delay: 4.9s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .box-contianer:nth-child(n+24) .defaultselect {
  opacity: 0;
  animation-delay: 5.1s;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .orange {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff954e+1,ff954e+49,ff7f42+52,ff7f42+52,ff7f42+100 */
  background: #ff954e;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ff954e 1%, #ff954e 49%, #ff7f42 52%, #ff7f42 52%, #ff7f42 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff954e", endColorstr="#ff7f42", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .pink {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4748d+50,2989d8+50,f26077+50,f26077+100 */
  background: #f4748d;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f4748d 50%, #2989d8 50%, #f26077 50%, #f26077 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4748d", endColorstr="#f26077", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .red {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f44e4e+0,f44e4e+2,f44e4e+49,ee3434+50,2989d8+50,ee3434+50,ee3434+100,ee3434+100 */
  background: #f44e4e;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f44e4e 0%, #f44e4e 2%, #f44e4e 49%, #ee3434 50%, #2989d8 50%, #ee3434 50%, #ee3434 100%, #ee3434 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f44e4e", endColorstr="#ee3434", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .purple {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9679fa+50,2989d8+50,8265fa+50,8265fa+100 */
  background: #9679fa;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #9679fa 50%, #2989d8 50%, #8265fa 50%, #8265fa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9679fa", endColorstr="#8265fa", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .green {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#84c537+0,84c537+50,6eb92d+51,6eb92d+100 */
  background: #84c537;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #84c537 0%, #84c537 50%, #6eb92d 51%, #6eb92d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#84c537", endColorstr="#6eb92d", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .light-green {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#69d6b5+1,69d6b5+50,57cea7+52,57cea7+100 */
  background: #69d6b5;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #69d6b5 1%, #69d6b5 50%, #57cea7 52%, #57cea7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#69d6b5", endColorstr="#57cea7", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .sky-blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59cacc+1,59cacc+50,4bc0c2+53,4bc0c2+100 */
  background: #59cacc;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #59cacc 1%, #59cacc 50%, #4bc0c2 53%, #4bc0c2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#59cacc", endColorstr="#4bc0c2", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .blue {
  background: #75a6fa;
  background: linear-gradient(135deg, #75a6fa 0%, #75a6fa 0%, #75a6fa 50%, #6497fa 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#75a6fa", endColorstr="#6497fa", GradientType=1);
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .blue .points {
  display: none;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .blockdata .brown {
  background: #59cacc;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #59cacc 0%, #59cacc 50%, #4bc0c2 51%, #4bc0c2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#59cacc", endColorstr="#4bc0c2", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .bottom-table {
  margin-top: 6px;
  display: block;
  float: left;
  width: 100%;
  margin-left: 4px;
  padding-right: 4px;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .bottom-table table.btm-table th {
  border-radius: 10px;
  /*              .gridbox {
                  margin-top: 0px;
                  margin-left: 0px
                }*/
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .bottom-table table.btm-table th div.smr {
  padding: 10px 9px;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .bottom-table table.btm-table th .box-bottom {
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  width: 98px;
  height: 104px;
  color: #fff;
  position: relative;
  border-radius: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 8px;
  width: 204px;
  height: 60px;
  width: 204px;
  height: 60px;
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb910+1,ffb910+50,ffab0e+52,ffab0e+100 */
  background: #ffb910;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffb910 1%, #ffb910 50%, #ffab0e 52%, #ffab0e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb910", endColorstr="#ffab0e", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
@media only screen and (max-width: 991px) {
  .game-block #gamePage > .container div .game-zone-outer .game-zone .bottom-table table.btm-table th .box-bottom {
    width: 250px;
  }
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .bottom-table table.btm-table th .box-bottom label.title {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  padding: 0;
  line-height: 15px;
  font-family: arial;
  text-align: left;
  text-transform: none;
  display: inherit;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .bottom-table table.btm-table th .box-bottom p.desc {
  font-size: 11px;
  line-height: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
}
.game-block #gamePage > .container div .game-zone-outer .game-zone .bottom-table table.btm-table th .box-bottom span.star {
  position: absolute;
  right: 5px;
  top: 22px;
}
@media only screen and (max-width: 991px) {
  .game-block #gamePage > .container div.static {
    position: static;
  }
}
.game-block #gamePage > .container div .que-zone {
  text-align: left;
  font-size: 16px;
  line-height: 23px;
  /*          @media only screen and (min-width: 992px) {
              max-height: 665px;
              overflow-y: scroll;
            }*/
}
@media only screen and (max-width: 991px) {
  .game-block #gamePage > .container div .que-zone {
    position: fixed;
    height: 93vh;
    background: white;
    top: 0px;
    right: -68%;
    width: 80%;
    padding: 2px 20px 2px 50px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    z-index: 999;
    padding-bottom: 38px;
  }
}
@media only screen and (max-width: 991px) {
  .game-block #gamePage > .container div .que-zone#que-block {
    transition: 0.5s;
  }
}
@media only screen and (max-width: 991px) {
  .game-block #gamePage > .container div .que-zone#que-block.right-menu {
    right: -1px;
    overflow: auto;
  }
}
@media only screen and (max-width: 767px) {
  .game-block #gamePage > .container div .que-zone#que-block.right-menu button.cmn-btn {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .que-zone .contentQue {
    max-height: 934px;
  }
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .que-zone .contentQue#styleScroll {
    overflow: hidden;
  }
}
.game-block #gamePage > .container div .que-zone .contentQue .option-container ul {
  list-style: none;
  max-height: 487px;
  overflow: hidden;
  padding: 3px;
  height: auto;
  margin-left: 0px;
}
@media only screen and (min-width: 320px) and (max-width: 380px) {
  .game-block #gamePage > .container div .que-zone .contentQue .option-container ul {
    max-height: 597px;
  }
}
.game-block #gamePage > .container div .que-zone .contentQue .option-container ul#styleScroll {
  overflow: auto;
  max-height: 440px;
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .que-zone .contentQue .option-container ul#styleScroll {
    overflow: hidden;
  }
}
.game-block #gamePage > .container div .que-zone .contentQue .option-container ul#styleScroll::-webkit-scrollbar {
  width: 8px;
}
.game-block #gamePage > .container div .que-zone .contentQue .option-container ul#styleScroll::-webkit-scrollbar-track {
  background: #808080;
  border: 5px solid transparent;
  background-clip: content-box;
}
.game-block #gamePage > .container div .que-zone .contentQue .option-container ul#styleScroll::-webkit-scrollbar-thumb {
  background: #ac200f;
  border-radius: 24px;
}
.game-block #gamePage > .container div .que-zone .contentQue .option-container ul li input[type=radio] {
  float: left;
  margin: 8px 0px 0px;
}
.game-block #gamePage > .container div .que-zone .contentQue .option-container ul li label.labeloptn {
  max-width: 92%;
  padding: 5px 5px;
  font-weight: 400;
}
@media only screen and (max-width: 1024px) {
  .game-block #gamePage > .container div .que-zone .contentQue .option-container ul li label.labeloptn {
    max-width: 92%;
    padding: 5px 10px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 380px) {
  .game-block #gamePage > .container div .que-zone .contentQue .option-container ul li label.labeloptn {
    max-width: 92%;
    padding: 5px 5px;
  }
}
.game-block #gamePage > .container div .que-zone .contentQue .option-container ul li.chklabel {
  max-width: 91%;
  font-weight: 400;
  vertical-align: text-top;
  margin-top: -4px;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container {
  width: 100%;
  float: left;
  height: auto;
  min-height: 148px;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer {
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  background: #eee1e1;
  border-radius: 10px;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer.rightBox {
  background: none;
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer.rightBox {
    height: auto;
    width: auto;
  }
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box {
  border-radius: 10px;
  padding: 0 8px;
  width: 98px;
  height: 98px;
  color: #fff;
  border: 2px solid #000;
  text-align: left;
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box {
    width: 87px;
    height: 89px;
  }
  .game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box:hover {
    z-index: 9;
    -ms-transform: scale(1.3);
        transform: scale(1.3);
  }
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.gray {
  background: #eee1e1;
  border: none;
  -ms-transform: scale(1);
      transform: scale(1);
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.gray span.points {
  background: none;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.rmvBorder {
  border: none;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.cross {
  display: block;
  margin: auto;
  width: 98px;
  height: 98px;
  position: relative;
  border: solid 1px #c8c6c4;
  background: #e3e2df;
  position: relative;
  border-radius: 10px;
  /*margin-top: 5px; margin-left: 6px; margin-bottom: 5px; */
  -ms-transform: scale(1);
      transform: scale(1);
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.cross:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -16px;
  width: 130px;
  height: 1px;
  background: #c8c6c4;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.cross:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -16px;
  width: 130px;
  height: 1px;
  background: #c8c6c4;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.cross span.points {
  background: none;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box label.title {
  font-weight: 600;
  font-size: 13px;
  margin: 0;
  padding: 9px 0;
  line-height: 16px;
  font-family: arial;
  word-wrap: break-word;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box p.desc {
  font-size: 11px;
  line-height: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box p.desc {
    font-size: 9px;
    line-height: 10px;
  }
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box span.points {
  margin: 0;
  padding: 3px 6px;
  font-size: 11px;
  line-height: 12px;
  background: #000;
  position: absolute;
  bottom: 3px;
  left: 8px;
  border-radius: 10px;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.box-bottom {
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  width: 98px;
  height: 104px;
  color: #fff;
  position: relative;
  border-radius: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 8px;
  width: 204px;
  height: 60px;
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb910+1,ffb910+50,ffab0e+52,ffab0e+100 */
  background: #ffb910;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffb910 1%, #ffb910 50%, #ffab0e 52%, #ffab0e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb910", endColorstr="#ffab0e", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
@media only screen and (max-width: 991px) {
  .game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.box-bottom {
    width: 250px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 380px) {
  .game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.box-bottom {
    width: 184px;
    height: 60px;
  }
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.box-bottom label.title {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  padding: 0;
  line-height: 15px;
  font-family: arial;
  text-align: left;
  text-transform: none;
  display: inherit;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.box-bottom p.desc {
  font-size: 11px;
  line-height: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .box.box-bottom span.star {
  position: absolute;
  right: 5px;
  top: 22px;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer .defaultselect {
  animation: fadeIn 0.3s;
  animation-fill-mode: forwards;
  opacity: 1;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+1) .defaultselect {
  opacity: 0;
  animation-delay: 0.5s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+2) .defaultselect {
  opacity: 0;
  animation-delay: 0.7s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+3) .defaultselect {
  opacity: 0;
  animation-delay: 0.9s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+4) .defaultselect {
  opacity: 0;
  animation-delay: 1.1s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+5) .defaultselect {
  opacity: 0;
  animation-delay: 1.3s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+6) .defaultselect {
  opacity: 0;
  animation-delay: 1.5s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+7) .defaultselect {
  opacity: 0;
  animation-delay: 1.7s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+8) .defaultselect {
  opacity: 0;
  animation-delay: 1.9s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+9) .defaultselect {
  opacity: 0;
  animation-delay: 2.1s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+10) .defaultselect {
  opacity: 0;
  animation-delay: 2.3s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+11) .defaultselect {
  opacity: 0;
  animation-delay: 2.5s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+12) .defaultselect {
  opacity: 0;
  animation-delay: 2.7s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+13) .defaultselect {
  opacity: 0;
  animation-delay: 2.9s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+14) .defaultselect {
  opacity: 0;
  animation-delay: 3.1s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+15) .defaultselect {
  opacity: 0;
  animation-delay: 3.3s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+16) .defaultselect {
  opacity: 0;
  animation-delay: 3.5s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+17) .defaultselect {
  opacity: 0;
  animation-delay: 3.7s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+18) .defaultselect {
  opacity: 0;
  animation-delay: 3.9s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+19) .defaultselect {
  opacity: 0;
  animation-delay: 4.1s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+20) .defaultselect {
  opacity: 0;
  animation-delay: 4.3s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+21) .defaultselect {
  opacity: 0;
  animation-delay: 4.5s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+22) .defaultselect {
  opacity: 0;
  animation-delay: 4.7s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+23) .defaultselect {
  opacity: 0;
  animation-delay: 4.9s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .box-contianer:nth-child(n+24) .defaultselect {
  opacity: 0;
  animation-delay: 5.1s;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .orange {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff954e+1,ff954e+49,ff7f42+52,ff7f42+52,ff7f42+100 */
  background: #ff954e;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ff954e 1%, #ff954e 49%, #ff7f42 52%, #ff7f42 52%, #ff7f42 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff954e", endColorstr="#ff7f42", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .pink {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4748d+50,2989d8+50,f26077+50,f26077+100 */
  background: #f4748d;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f4748d 50%, #2989d8 50%, #f26077 50%, #f26077 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4748d", endColorstr="#f26077", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .red {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f44e4e+0,f44e4e+2,f44e4e+49,ee3434+50,2989d8+50,ee3434+50,ee3434+100,ee3434+100 */
  background: #f44e4e;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f44e4e 0%, #f44e4e 2%, #f44e4e 49%, #ee3434 50%, #2989d8 50%, #ee3434 50%, #ee3434 100%, #ee3434 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f44e4e", endColorstr="#ee3434", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .purple {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9679fa+50,2989d8+50,8265fa+50,8265fa+100 */
  background: #9679fa;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #9679fa 50%, #2989d8 50%, #8265fa 50%, #8265fa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9679fa", endColorstr="#8265fa", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .green {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#84c537+0,84c537+50,6eb92d+51,6eb92d+100 */
  background: #84c537;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #84c537 0%, #84c537 50%, #6eb92d 51%, #6eb92d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#84c537", endColorstr="#6eb92d", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .light-green {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#69d6b5+1,69d6b5+50,57cea7+52,57cea7+100 */
  background: #69d6b5;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #69d6b5 1%, #69d6b5 50%, #57cea7 52%, #57cea7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#69d6b5", endColorstr="#57cea7", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .sky-blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#59cacc+1,59cacc+50,4bc0c2+53,4bc0c2+100 */
  background: #59cacc;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #59cacc 1%, #59cacc 50%, #4bc0c2 53%, #4bc0c2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#59cacc", endColorstr="#4bc0c2", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .blue {
  background: #75a6fa;
  background: linear-gradient(135deg, #75a6fa 0%, #75a6fa 0%, #75a6fa 50%, #6497fa 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#75a6fa", endColorstr="#6497fa", GradientType=1);
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .blue .points {
  display: none;
}
.game-block #gamePage > .container div .que-zone .contentQue .que-block-container .brown {
  background: #59cacc;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #59cacc 0%, #59cacc 50%, #4bc0c2 51%, #4bc0c2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#59cacc", endColorstr="#4bc0c2", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.game-block #gamePage > .container div .que-zone button.cmn-btn {
  background-color: #ffc028;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 12px;
  width: 100%;
  margin-top: 14px;
}
.game-block #gamePage > .container div .que-zone button.cmn-btn:hover {
  background-color: #000;
  color: #fff;
}
.game-block #gamePage > .container div .que-zone button.cmn-btn.btn {
  border-radius: 0px;
}
@media only screen and (max-width: 991px) {
  .game-block #gamePage > .container div .que-zone button.que-btn {
    float: right;
    margin: 6px 20px 0 10px;
    background: #a31919;
    padding: 1px 10px;
    color: #FFF;
    border: 0;
    width: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .game-block #gamePage > .container div .que-zone button.que-btn {
    position: absolute;
    right: -17px;
  }
}
@media only screen and (max-width: 991px) {
  .game-block #gamePage > .container div .que-zone button.que-btn2 {
    position: absolute;
    left: 2px;
    top: 25px;
  }
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container div .que-zone button.que-btn2 {
    top: 15px !important;
  }
}
.game-block #gamePage > .container .lastStep .right-content h2 {
  font-size: 24px;
  line-height: normal;
  color: #991b1e;
  font-weight: 600;
  padding-top: 25px;
}
.game-block #gamePage > .container .lastStep .right-content p {
  font-size: 16px;
  line-height: normal;
  color: #000;
  padding-bottom: 20px;
}
.game-block #gamePage > .container .lastStep .right-content form p.btm-text {
  font-style: italic;
  font-size: 14px !important;
}
.game-block #gamePage > .container .lastStep .right-content form input.form-control {
  border-radius: 0px;
  padding: 20px 12px;
}
.game-block #gamePage > .container .lastStep .right-content form button.cmn-btn {
  background-color: #ffc028;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 12px;
  width: 100%;
  margin-top: 14px;
}
.game-block #gamePage > .container .lastStep .right-content form button.cmn-btn:hover {
  background-color: #000;
  color: #fff;
}
.game-block #gamePage > .container .lastStep .right-content form button {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 8px 0;
  position: relative;
  max-width: none;
  text-align: center;
}
.game-block #gamePage > .container .lastStep .right-content form button i.fa {
  position: absolute;
  left: 14px;
  top: 16px;
  font-size: 18px;
}
.game-block #gamePage > .container .lastStep .right-content form button.red-btn {
  background: #a31919;
}
.game-block #gamePage > .container .help {
  color: #a11b1f;
  text-decoration: none;
  display: block;
}
.game-block #gamePage > .container .help:hover {
  color: #a11b1f;
  text-decoration: none;
}
.game-block #gamePage > .container .help:focus {
  outline: none;
}
.game-block #gamePage > .container .bottom {
  background-color: #980000;
  padding: 1px 0;
  display: inline-block;
  width: 100%;
  margin-bottom: 61px;
  height: 50px;
}
@media only screen and (max-width: 991px) {
  .game-block #gamePage > .container .bottom {
    position: fixed;
    bottom: 0;
    z-index: 99999;
    padding: 7px 0;
    left: 0;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 480px) {
  .game-block #gamePage > .container .bottom > .container {
    padding: 0 !important;
  }
}
@media only screen and (min-width: 1200px) {
  .game-block #gamePage > .container .bottom > .container {
    width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.game-block #gamePage > .container .bottom > .container .start-over {
  padding-top: 6px;
  display: block;
  color: #ffc129;
}
@media only screen and (max-width: 640px) {
  .game-block #gamePage > .container .bottom > .container .start-over {
    padding-top: 0;
  }
}
.game-block #gamePage > .container .bottom > .container .start-over:hover span {
  color: white;
}
.game-block #gamePage > .container .bottom > .container .start-over:hover .startover {
  color: white;
}
.game-block #gamePage > .container .bottom > .container .start-over:focus {
  outline: none;
}
.game-block #gamePage > .container .bottom > .container .start-over button {
  width: 100%;
  background: none;
  color: #ffc129;
  border: 0px;
  padding: 0;
}
.game-block #gamePage > .container .bottom > .container .start-over button span {
  float: left;
  margin-right: 10px;
  color: #ffc129;
  padding-top: 3px;
}
@media only screen and (max-width: 767px) {
  .game-block #gamePage > .container .bottom > .container .start-over button span {
    padding-left: 10px;
  }
}
.game-block #gamePage > .container .bottom > .container .start-over button span i.fa-refresh {
  font-size: 27px;
}
.game-block #gamePage > .container .bottom > .container .start-over button a {
  color: #ffc22a;
  font-size: 16px;
  text-decoration: none;
  padding-top: 10px;
}
@media only screen and (max-width: 767px) {
  .game-block #gamePage > .container .bottom > .container div.col-md-8 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer {
  display: inline-block;
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer {
    margin-left: 0;
  }
}
.game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units {
  text-align: center;
  font-family: arial;
  float: none;
  display: inline-block;
  margin-left: 0;
}
@media only screen and (min-width: 641px) {
  .game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units {
    margin-left: 35px;
  }
}
.game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units.elective {
  display: inline-block;
}
.game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units h5 {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  vertical-align: middle;
  padding-top: 0;
}
@media only screen and (min-width: 641px) {
  .game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units h5 {
    margin: -12px 14px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units h5 {
    width: 50px;
  }
}
.game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units span {
  background: black;
  color: #fff;
  position: relative;
  font-size: 15px;
  margin: 0;
  padding: 5px 0px;
  display: inline-block;
  border-radius: 8px;
  line-height: normal;
  font-weight: bold;
  width: 65px;
  margin-top: 0px;
  height: 44px;
}
@media only screen and (min-width: 641px) {
  .game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units span {
    font-size: 27px;
  }
}
@media only screen and (max-width: 767px) {
  .game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units span {
    width: 47px;
    height: 33px;
  }
}
.game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units span.elective-bg {
  background: url(../images/elective-icon.png) no-repeat center;
  background-size: 30px 25px;
  height: 25px;
  width: 22px;
  padding-top: 0;
  font-size: 17px;
}
@media only screen and (min-width: 641px) {
  .game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units span.elective-bg {
    background-size: 51px 38px;
    width: 61px;
    height: 45px;
    font-size: 22px;
    padding-top: 12px;
    background-position-y: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units span.elective-bg {
    width: 57px;
    height: 25px;
    padding-top: 5px;
    font-size: 14px;
  }
}
.game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units span .star-yellow {
  position: absolute;
  top: -22px;
  right: -5px;
}
@media only screen and (max-width: 767px) {
  .game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units span .star-yellow {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .game-block #gamePage > .container .bottom > .container div.col-md-8 .units-outer .total-units span .star-yellow {
    top: -13px;
  }
}
.game-block #gamePage > .container .bottom > .container .next {
  display: inline-block;
  padding-top: 14px;
  padding-right: 10px;
}
@media only screen and (max-width: 767px) {
  .game-block #gamePage > .container .bottom > .container .next {
    padding-top: 4px;
    padding-right: 10px;
  }
}
.game-block #gamePage > .container .bottom > .container .next button {
  color: #ffc028;
  background: none;
  border: 0px;
  padding: 0px;
  font-size: 16px;
}
.game-block #gamePage > .container .bottom > .container .next button:hover {
  color: white;
}
.game-block #gamePage > .container .bottom > .container .next button:focus {
  outline: none;
}
.game-block #gamePage > .container .bottom > .container .next a {
  color: #ffc028;
  text-decoration: none;
}
.game-block #gamePage > .container .bottom > .container .next a:hover, .game-block #gamePage > .container .bottom > .container .next a:active, .game-block #gamePage > .container .bottom > .container .next a:focus {
  color: #fff;
  text-decoration: none;
}
.game-block #gamePage > .container .bottom > .container .next a span i.fa-long-arrow-left {
  font-size: 33px;
  font-weight: lighter;
  line-height: normal;
  display: inline-block;
}
.game-block #gamePage > .container .bottom > .container .next a span i.fa-long-arrow-right {
  font-size: 33px;
  font-weight: lighter;
  line-height: normal;
  display: inline-block;
}
.game-block #gamePage > .container .bottom > .container .next a span i.fa-arrow-right {
  margin: 0 0 0 10px;
  font-size: 20px;
}
.game-block #points-popup .modal-dialog {
  margin: 270px auto;
}
@media only screen and (max-width: 480px) {
  .game-block #points-popup .modal-dialog {
    margin: 50% auto;
  }
}
.game-block #points-popup .modal-dialog .modal-content {
  text-align: center;
  border-radius: 0;
  padding: 30px;
}
@media only screen and (max-width: 767px) {
  .game-block #points-popup .modal-dialog .modal-content {
    margin: 0 50px;
    z-index: 999999;
  }
}
.game-block #points-popup .modal-dialog .modal-content p {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #383737;
}
.game-block #chebox-popup h2 {
  color: #b62600;
  font-size: 24px;
  padding: 15px 0px;
  line-height: 29px;
}
.game-block #chebox-popup .modal-content {
  width: 285px;
  text-align: center;
  height: auto;
}
@media only screen and (max-width: 991px) {
  .game-block #help-popup {
    z-index: 999999;
  }
}
.game-block #help-popup p.sample-text {
  color: #000;
  font-weight: bold;
  text-align: center;
}
.game-block #help-popup .modal-header .close {
  font-size: 37px;
  width: 20px;
}
@media only screen and (max-width: 991px) {
  .game-block #help-popup .modal-body .howtoplay .game-zone-outer {
    overflow-x: scroll;
    min-height: 828px;
  }
}
@media only screen and (max-width: 767px) {
  .game-block #help-popup .modal-body .howtoplay .game-zone-outer {
    min-height: auto;
  }
}
.game-block #help-popup .modal-body .howtoplay .game-zone-outer .gamebox {
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .game-block #help-popup .modal-body .howtoplay .game-zone-outer .gamebox img {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .game-block #help-popup .modal-body .howtoplay .game-zone-outer .gamebox img {
    max-width: none;
  }
}
.game-block #help-popup .modal-body .discription {
  float: left;
  width: 100%;
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  color: #000;
  font-size: 16px;
}
.game-block #help-popup .modal-body .discription ul.chart-detail {
  float: left;
  margin: 0;
  padding: 20px 0 40px 0;
}
@media only screen and (max-width: 991px) {
  .game-block #help-popup .modal-body .discription ul.chart-detail {
    padding: 20px 0 10px 0;
  }
}
.game-block #help-popup .modal-body .discription ul.chart-detail li {
  float: left;
  margin: 0 100px 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.game-block #help-popup .modal-body .discription ul.chart-detail li span {
  margin-right: 15px;
}
.game-block #help-popup .modal-body .discription ul.chart-detail li span img {
  margin: -3px 0 0 0;
}
.game-block #help-popup .modal-body .discription .bottom-notes {
  float: left;
  width: 100%;
  text-align: left;
}
@media only screen and (max-width: 991px) {
  .game-block #help-popup .modal-body .discription .bottom-notes {
    padding: 5%;
    box-sizing: border-box;
  }
}
.game-block #help-popup .modal-body .discription .bottom-notes h3 {
  color: #000;
  font-weight: bold;
  font-size: 16px;
}
.game-block #help-popup .modal-body .discription .bottom-notes p {
  line-height: 20px;
}
.game-block #help-popup .modal-body .discription .bottom-notes ul {
  padding-bottom: 15px;
  list-style-type: disc;
  margin-left: 18px;
}
.game-block #help-popup .modal-body .discription .bottom-notes ul li {
  line-height: 20px;
}
.game-block #resume-popup .modal-content {
  width: 724px !important;
}
.game-block #resume-popup .modal-content .modal-header {
  padding: 5px 28px !important;
}
.game-block #resume-popup .modal-content .modal-body {
  padding: 0px !important;
}
.game-block #resume-popup .resume-outer {
  margin: 0 auto;
  max-width: 724px;
}
.game-block #resume-popup .resume {
  min-height: 700px;
  border: 1px solid #ddd;
  border-top: 10px solid #ffcb2f;
  display: inline-block;
  width: 100%;
  padding: 6% 6% 4% 6%;
}
@media only screen and (max-width: 767px) {
  .game-block #resume-popup .resume {
    padding: 5%;
  }
}
@media only screen and (max-width: 767px) {
  .game-block #resume-popup .resume .education {
    width: 100%;
  }
  .game-block #resume-popup .resume .education p {
    width: 100%;
  }
}
.game-block #resume-popup .resume-top {
  width: 100%;
}
.game-block #resume-popup .resume-top ul {
  margin: 0;
  padding: 0;
  float: left;
}
.game-block #resume-popup .resume-top li {
  margin: 0 0 0 5px;
  padding: 0;
  float: left;
  list-style-type: none;
}
.game-block #resume-popup .resume-top span {
  margin-top: 5px;
  float: right;
}
.game-block #resume-popup .resume-top span i.fa-times {
  font-size: 22px;
  cursor: pointer;
}
.game-block #resume-popup .resume-top span i.fa-times:hover {
  color: #a31919;
}
.game-block #resume-popup .resume h2 {
  font-size: 40px;
  line-height: 30px;
  font-weight: bold;
  color: #a31919;
  margin: 0;
  padding: 0;
}
.game-block #resume-popup .resume .info {
  text-align: center;
  padding-bottom: 24px;
}
.game-block #resume-popup .resume .email {
  font-size: 16px;
  line-height: normal;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.game-block #resume-popup .resume .email a {
  color: #000;
}
.game-block #resume-popup .resume .education {
  width: 100%;
  padding: 0;
  margin-top: 6px;
  border-top: 1px solid #808080;
  display: inline-block;
}
.game-block #resume-popup .resume .education h3 {
  display: block;
  float: left;
  color: #a31919;
  text-transform: uppercase;
}
.game-block #resume-popup .resume .education h4 {
  display: inline-block;
  float: left;
  width: 100%;
  color: #000;
  font-weight: bold;
  margin: 0;
  padding: 3px 0;
  font-size: 16px;
}
.game-block #resume-popup .resume .education span {
  float: right;
  margin: -3px 0 0 0;
  font-weight: normal;
  color: #8b8b8b;
  font-size: 15px;
}
.game-block #resume-popup .resume .education p {
  width: 461px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  float: left;
  font-weight: 500;
}
.game-block #resume-popup .resume-bottom {
  float: right;
  padding-top: 50px;
}
.game-block #resume-popup .resume-bottom p {
  float: left;
  font-size: 12px;
  margin-right: 40px;
}
.game-block #resume-popup .acadmic {
  font-size: 18px;
  display: block;
  float: left;
  color: #a31919;
  text-transform: uppercase;
}
.game-block #resume-popup .iconpdf {
  margin-top: 8px;
  cursor: pointer;
  display: block;
}
.game-block #resume-popup .iconpdf i {
  font-size: 24px;
  color: brown;
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
#canvasGrid {
  display: none;
}

@media print {
  #header, .region__b--ii, #block-breadcrumbs, #block-usc-socialblock, #gamePage, .static, .footer {
    display: none !important;
  }

  #canvasGrid {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .game-block .table-responsive {
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */
